PORT=800
MONGODB_URI=mongodb+srv://hitesh:your-password@cluster0.lxl3fsq.mongodb.net



CORS_ORIGIN=* 
# CORS_ORIGIN: This is an environment variable used to specify the allowed origins for CORS (Cross-Origin Resource Sharing). An origin is a combination of protocol, domain, and port (e.g., http://example.com:3000).
# *: The asterisk (*) wildcard is used here to indicate that requests from any origin should be allowed. This means that the server will respond to requests from any domain.